

/*HEADER*/

h1,h2{
    letter-spacing: 10px;
    background-color:rgb(243, 204, 184);
    color:white;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
 }

h1{
     font-size: 35px;
 }


/*MAIN*/
.container{/*tengo que poner un container donde estan los tres section*/
    margin: 60px auto;
    max-width: 70%;
}

h2{
    font-size: 20px;
}

dl{
    margin-left: 40px;
  }
  dd{
      margin-left: 85px;
  }

.personal span{
    font-style: italic; 
}

/*contenedor de la imagen*/
.contenedor{
    background-color:rgb(222, 167, 161);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(IMG/fotoMia.jpeg);
    background-size: cover;
    display: inline-block;
}

.alinear{
    text-align: center;

}

  /* Footer */
  footer{
    background-color:rgb(243, 204, 184);
    color: #fff; 
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}
footer a{
    color: #fff; 
  }